
@font-face {
  font-family: 'GOTHAMBOLD';
  src: url('../fonts/GOTHAMBOLD.eot');
  src: url('../fonts/GOTHAMBOLD.eot') format('embedded-opentype'),
       url('../fonts/GOTHAMBOLD.woff2') format('woff2'),
       url('../fonts/GOTHAMBOLD.woff') format('woff'),
       url('../fonts/GOTHAMBOLD.ttf') format('truetype'),
       url('../fonts/GOTHAMBOLD.svg#GOTHAMBOLD') format('svg');
}
@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/GothamBook.eot');
  src: url('../fonts/GothamBook.eot') format('embedded-opentype'),
       url('../fonts/GothamBook.woff2') format('woff2'),
       url('../fonts/GothamBook.woff') format('woff'),
       url('../fonts/GothamBook.ttf') format('truetype'),
       url('../fonts/GothamBook.svg#GothamBook') format('svg');
}
@font-face {
  font-family: 'GOTHAMBOLDITALIC';
  src: url('../fonts/GOTHAMBOLDITALIC.eot');
  src: url('../fonts/GOTHAMBOLDITALIC.eot') format('embedded-opentype'),
       url('../fonts/GOTHAMBOLDITALIC.woff2') format('woff2'),
       url('../fonts/GOTHAMBOLDITALIC.woff') format('woff'),
       url('../fonts/GOTHAMBOLDITALIC.ttf') format('truetype'),
       url('../fonts/GOTHAMBOLDITALIC.svg#GOTHAMBOLDITALIC') format('svg');
}
@font-face {
  font-family: 'GOTHAMBLACKITALIC';
  src: url('../fonts/GOTHAMBLACKITALIC.eot');
  src: url('../fonts/GOTHAMBLACKITALIC.eot') format('embedded-opentype'),
       url('../fonts/GOTHAMBLACKITALIC.woff2') format('woff2'),
       url('../fonts/GOTHAMBLACKITALIC.woff') format('woff'),
       url('../fonts/GOTHAMBLACKITALIC.ttf') format('truetype'),
       url('../fonts/GOTHAMBLACKITALIC.svg#GOTHAMBLACKITALIC') format('svg');
}

@font-face {
  font-family: 'GothamBookItalic';
  src: url('../fonts/GothamBookItalic.eot');
  src: url('../fonts/GothamBookItalic.eot') format('embedded-opentype'),
       url('../fonts/GothamBookItalic.woff2') format('woff2'),
       url('../fonts/GothamBookItalic.woff') format('woff'),
       url('../fonts/GothamBookItalic.ttf') format('truetype'),
       url('../fonts/GothamBookItalic.svg#GothamBookItalic') format('svg');
}

@font-face {
  font-family: 'GothamMediumItalic';
  src: url('../fonts/GothamMediumItalic.eot');
  src: url('../fonts/GothamMediumItalic.eot') format('embedded-opentype'),
       url('../fonts/GothamMediumItalic.woff2') format('woff2'),
       url('../fonts/GothamMediumItalic.woff') format('woff'),
       url('../fonts/GothamMediumItalic.ttf') format('truetype'),
       url('../fonts/GothamMediumItalic.svg#GothamMediumItalic') format('svg');
}
@font-face {
  font-family: 'GOTHAMULTRAITALIC';
  src: url('../fonts/GOTHAMULTRAITALIC.eot');
  src: url('../fonts/GOTHAMULTRAITALIC.eot') format('embedded-opentype'),
       url('../fonts/GOTHAMULTRAITALIC.woff2') format('woff2'),
       url('../fonts/GOTHAMULTRAITALIC.woff') format('woff'),
       url('../fonts/GOTHAMULTRAITALIC.ttf') format('truetype'),
       url('../fonts/GOTHAMULTRAITALIC.svg#GOTHAMULTRAITALIC') format('svg');
}

@font-face {
  font-family: 'GothamMedium_1';
  src: url('../fonts/GothamMedium_1.eot');
  src: url('../fonts/GothamMedium_1.eot') format('embedded-opentype'),
       url('../fonts/GothamMedium_1.woff2') format('woff2'),
       url('../fonts/GothamMedium_1.woff') format('woff'),
       url('../fonts/GothamMedium_1.ttf') format('truetype'),
       url('../fonts/GothamMedium_1.svg#GothamMedium_1') format('svg');
}


@font-face {
  font-family: 'HelveticaNeueLTStdBd';
  src: url('../fonts/HelveticaNeueLTStdBd.eot');
  src: url('../fonts/HelveticaNeueLTStdBd.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStdBd.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStdBd.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStdBd.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStdBd.svg#HelveticaNeueLTStdBd') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueLTStdMd';
  src: url('../fonts/HelveticaNeueLTStdMd.eot');
  src: url('../fonts/HelveticaNeueLTStdMd.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStdMd.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStdMd.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStdMd.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStdMd.svg#HelveticaNeueLTStdMd') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueLTStdLt';
  src: url('../fonts/HelveticaNeueLTStdLt.eot');
  src: url('../fonts/HelveticaNeueLTStdLt.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStdLt.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStdLt.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStdLt.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStdLt.svg#HelveticaNeueLTStdLt') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueLTStdTh';
  src: url('../fonts/HelveticaNeueLTStdTh.eot');
  src: url('../fonts/HelveticaNeueLTStdTh.eot') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLTStdTh.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStdTh.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStdTh.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStdTh.svg#HelveticaNeueLTStdTh') format('svg');
}
