$icons:(
    captain : "\e90a",
    drpDwn__value : "\e905",
    closeBtn : "\e902",
    alert : "\e910",
    username : "\e90d",
    password : "\e90c",
    batsman : "\e908",
    all-rounder: "\e90e",
    bowler : "\e906",
    // wicket : "\e90f",
    rightArrow : "\e905",
    keeper : "\e90b",
    plusCircle : "\e901",
    ballIcon : "\e906",
    backArrow : "\e905",
    menu : "\e900",
    menuOpen : "\e918",
    shotList : '\e917',
    plusMinus : "\e916",

);

