//Font Family



$book_font-family: 'GothamBook',
sans-serif;
$bold_font-family: 'GOTHAMBOLD',
sans-serif;
$medium_font-family: 'GothamMedium_1',
sans-serif;
$bold_font-family-italic: 'GOTHAMBOLDITALIC',
sans-serif;
$black_font-family-italic: 'GOTHAMBLACKITALIC',
sans-serif;
$book_font-family-italic: 'GothamBookItalic',
sans-serif;
$light_font-weight: normal;
$book_font-weight:  normal;
$medium_font-weight: normal;
$bold_font-weight: normal;

$light_font-family:'HelveticaNeueLTStdTh', sans-serif;
$regular_font-family:'HelveticaNeueLTStdLt', sans-serif;
$medium_font-family:  'HelveticaNeueLTStdMd',sans-serif;
$bold_font-family: 'HelveticaNeueLTStdBd',sans-serif;


$light_font-weight: normal;
$regular_font-weight: normal;
$medium_font-weight: normal;
$bold_font-weight: normal;